  <h1>Courses</h1>
  {{#if AllCourses.length}}
   <div class="row">
  {{#each AllCourses}}
    <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img src={{img}}>
        </div>
        <div class="card-content"> <span class="card-title">{{title}}</span></div>
        <hr>
        <div class="card-content">
          <p class="price">{{price}}</p>
        </div>
        <div class="card-action actionInLine">
          <a 
            href="courses/{{_id}}" 
            target="_blank"
            class="waves-effect waves-teal btn-flat"
            >more details
            </a>
          <a 
            href="courses/{{_id}}/edit?admission=true"
            class="waves-effect waves-teal btn-flat"  
          >Redaction
          </a>
          <form action="/card" method="POST">
            <input 
             type="hidden" 
             name="id" 
             value={{_id}}>
            <button 
              type="submit"
              class="waves-effect waves-teal btn-small"
            >Add to card
            </button>
          </form>
        </div>
      </div>
    </div>
  {{/each}}  
  </div>
  {{else}}
  <h2> No have courses</h2>
  {{/if}}
  <a  href="/">Main Page</a>
  